.todoElement {
    padding: 2px 0;
    color: #006D4C;
    background-color: #FFF673;
    border-radius: 20px;
}
.todoElement:nth-child(3n+2) {
    background-color: #FF8240;
}
.todoElement:nth-child(3n+3) {
    background-color: #5FD4B1;
}
input:checked{
    background-color: red;
}
.updateTodo{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 19px;
    color: rgb(0, 0, 0, 0.5);
    font-style: italic;
}